[Unit]
Description=Bash script command substitution

[Service]
Type=simple
ExecStart= bash echo $(cat /etc/apt/sources.list)

[Install]
WantedBy=multi-user.target
