[Unit]
Description=Bash script command substitution

[Service]
Type=oneshot
ExecStart=/home/uy/sandbox/systemd/script

[Install]
WantedBy=multi-user.target
